$card-width : 200px;
$card-height : 300px;

.cards{
  border: 5px solid black;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: $card-width $card-width $card-width $card-width $card-width;
  grid-template-rows: $card-height $card-height;
  background-color: salmon;
}

.card {
  margin-left: 30px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.banner{
  text-align: center;
}
